@import url(./css-reset.css);

.page-title {
  font-size: 80px;
  margin: 40px 20px 40px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.smaller {
  font-size: 30px;
  width: fit-content;
  color: rgb(51, 186, 47);
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px 20px;
  justify-content: space-around;
}

.display-section,
.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.display-section {
  max-width: 500px;
}

.add-section {
  max-width: 400px;
}

.scores-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.refresh {
  width: fit-content;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.border {
  border: none;
  border-radius: 10px;
}

.scores-list {
  width: 100%;
  max-height: 50vh;
  min-height: 120px;
  min-width: 200px;
  overflow: auto;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  scrollbar-width: thin;
  color: #03c8a8;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-width: 200px;
  position: relative;
}

.input {
  margin-bottom: 20px;
  padding: 15px 15px;
  width: 100%;
}

.submit {
  width: fit-content;
}

.button {
  padding: 7px 40px;
  font-size: medium;
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  color: white;
  border: none;
  border-radius: 5px;
}

.green {
  color: rgb(51, 186, 47);
  text-align: center;
}

.list-item {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  border: 1px solid #03c8a8;
}

.message {
  color: rgb(51, 186, 47);
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-none {
  display: none;
}

.bg-1 {
  background-color: #e4ff6d;
  background-image: linear-gradient(
    319deg,
    #e4ff6d 0%,
    #ffad42 37%,
    #e4ff6d 100%
  );
  color: white;
  border: none;
}

.bg-2 {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  color: white;
  border: none;
}

.bg-3 {
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  color: white;
  border: none;
}
